<style>
    /* Create three equal columns that floats next to each other */
    .column {
    float: left;
    width: 33.3%;
    padding: 5px;
    }

    .column img {
    margin-top: 0px;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
</style>

<div class="row">
  <div class="column">
    {% for image in include.images %}
      <a href="{{ image.image_path }}" class="image-popup" title="{{ image.title }} <br>{{ image.location }}. {{ image.month }} {{ image.year }}. Photo by {{ image.author }}.">
        <img src="{{ image.image_path }}" alt="{{ image.alt }}">
      </a>
    {% endfor %}
  </div>
  <div class="column">
    <!--<img src="https://ronanhart.github.io/assets/images/portfolio/photos/20240524_140506.jpg">-->
    {% for image in include.images reversed %}
      <a href="{{ image.image_path }}" class="image-popup" title="{{ image.title }} <br>{{ image.location }}. {{ image.month }} {{ image.year }}. Photo by {{ image.author }}.">
        <img src="{{ image.image_path }}" alt="{{ image.alt }}">
      </a>
    {% endfor %}
  </div>
  <div class="column">
    <!--<img src="https://ronanhart.github.io/assets/images/portfolio/photos/20230424_111012.jpg">-->
    {% for image in include.images %}
      <a href="{{ image.image_path }}" class="image-popup" title="{{ image.title }} <br>{{ image.location }}. {{ image.month }} {{ image.year }}. Photo by {{ image.author }}.">
        <img src="{{ image.image_path }}" alt="{{ image.alt }}">
      </a>
    {% endfor %}
  </div>
</div>